* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body 크기 지정 */
body {
	width: 100%;
}
header {
	width: 90%;
	height: 250px;
	border: 1px solid red;
	box-sizing: border-box;
	margin: 30px auto;
	padding: 20px;
}
#bannerWrap {
	width: 100%;
	height: 100%;
	border: 1px solid blue;
	margin: 0 auto;
	border-radius: 30px;
	overflow: hidden;
}
#banner {
	width: 300%;
	height: 100%;
	border: 1px solid green;
	display: flex;
}
.bannerImg {
	width: 33.3333%;
	height: 100%;
	border: 1px solid red;
}
.bannerImg img {
	width: 100%;
	height: 100%;
}

section {
	width: 90%;
	height: 500px;
	border: 1px solid red;
	margin: 30px auto;
	box-sizing: border-box;
}

#category {
	width: 100%;
	height: 50px;
	/* border: 1px solid orange; */
	/* padding: 20px; */
	box-sizing: border-box;
	margin-bottom: 10px;
}

#category tr td {
	width: 18%;
	text-align: center;
	/* border: 1px solid blue; */
	border-radius: 100%;
	margin: 20px;
	padding: 30px;
}

#category tr td img {
	width: 50%;
}

#recommand {
	width: 100%;
	height: 250px;
	border: 1px solid blue;
	padding: 20px;
	display: flex;
	box-sizing: border-box;
}

.team {
	width: 33.333%;
	/* border: 1px solid green; */
	margin: 15px;
	text-align: center;
	overflow: hidden;
	display: flex;
}

.team div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.profile {
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	/* transition: width 0.3s ease-in-out; */
}

.team p {
	width: 100%;
	text-align: center;
}

.list {
	width: 100%;
	height: 100%;
	margin-left: 50px;
	display: none;
	/* border: 1px solid red; */
}

.list tr {
	display: inline-block;
	/* border: 1px solid red; */
	width: 100%;
	font-size: 18px;
}

.list tr th:first-child,
.list tr td:first-child {
	display: inline-block;
	/* border: 1px solid blue; */
	width: 5%;
}

.list tr th,
.list tr td {
	display: inline-block;
	/* border: 1px solid blue; */
	width: 12%;
}

.list tr th:last-child,
.list tr td:last-child {
	display: inline-block;
	/* border: 1px solid blue; */
	width: 18%;
}

footer {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 150px;
}

#reviewWrite,
#reviewList {
	width: 80%;
	margin: 40px auto;
}

form {
	border: 1px solid black;
}
